{% extends 'base_blog.html' %}

{% block content %}
    <div>
        <h1>Отзывы</h1>
        {% if user.is_authenticated %}
            <h2>Оставить отзыв</h2>
            <form method="post" action="{% url 'blog:submit_review' %}">
                {% csrf_token %}
                <label for="title">Заголовок:</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="content">Содержание:</label><br>
                <textarea id="content" name="content"></textarea><br>
                <button type="submit">Отправить</button>
            </form>
        {% else %}
            <p>Пожалуйста <a href="{% url 'login' %}">залогиньтесь</a> чтобы оставить отзыв.</p>
        {% endif %}

        <ul>
            {% for review in reviews %}
                <li>
                    <h2>{{ review.title }}</h2>
                    <p>{{ review.content|truncatewords:20 }}</p>
                    {#        <a href="{% url 'blog:post_detail' post.pk %}">Читать далее</a>#}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}