{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzeriaNapoli</title>
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    {% include 'meta.html' %}
    {% block head %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <header>
        {% block top_navbar %}
            <nav class="navbar">
                <a class="navbar-brand" href="{% url 'pizza:pizza_list' %}">PizzeriaNapoli</a>
                <a href="{% url 'blog:home' %}">Домашняя</a>
                <a href="{% url 'blog:reviews' %}">Отзывы</a>
                <div class="dropdown ">
                    <select onchange="if (this.value) window.location.href=this.value">
                        <option value="">О компании</option>
                        <option value="{% url 'blog:about_company' %}">О компании</option>
                        <option value="{% url 'blog:news_list' %}">Новости</option>
                        <option value="{% url 'blog:faq_list' %}">ЧАВО</option>
                        <option value="{% url 'blog:promo_list' %}">Промокоды</option>
                        <option value="{% url 'blog:vacancy' %}">Вакансии</option>
                        <option value="{% url 'blog:employee' %}">Сотрудники</option>
                    </select>
                </div>

                {% if request.user.is_staff %}
                    <a href="{% url 'pizza:order_list' %}">Заказы</a>
                {% endif %}

                <div class="push">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'registration:user_profile' %}">Welcome {{ request.user }}</a>
                        <a href="{% url 'pizza:view_cart' %}">Корзина</a>
                    {% else %}
                        <a href="{% url 'registration:login' %}">Login/register</a>
                    {% endif %}
                </div>
                {% block navbar %}
                {% endblock navbar %}
            </nav>

        {% endblock top_navbar %}
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div>
            <p><b>&copy; 2024 PizzeriaNapoli</b></p>
        </div>
    </footer>
</div>

</body>
</html>