{% extends "form_base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}

    <div>
        <h2>Регистрация</h2>
    </div>
    <div>
        <form method="post" novalidate>
            <div>
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div>
                                {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Зарегистрироваться</button>
            </div>

        </form>
    </div>

{% endblock %}