{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pizzalist.css' %}">
{% endblock %}

{% block content %}
    <div class="pizza-list" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="pizza-title">Наши Пиццы <img src="{% static 'pizza-svgrepo-com.svg' %}" alt="Pizza Icon"></h1>

        <form class="filter-form" method="get">
            <div class="form-group">
                <div class="form-select">
                    <select name="sort_by" class="sort-select">
                        {% for value, label in form.fields.sort_by.choices %}
                            <option value="{{ value }}"
                                    {% if value == form.sort_by.value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-input">
                    <input type="text" name="sauce_search" class="sauce-search" placeholder="Поиск по соусу"
                           value="{{ form.sauce_search.value }}">
                </div>
                <div class="form-button">
                    <button type="submit" class="filter-button">Фильтр</button>
                </div>
            </div>
        </form>

        <div class="card-container">
            {% for pizza in pizzas %}
                <div class="card-main" itemscope itemtype="https://schema.org/MenuItem">
                    <h3 class="card-title" itemprop="name">{{ pizza.name }}</h3>

                    {% if pizza.image %}
                        <img itemprop="image" src="{{ pizza.image.url }}" alt="{{ pizza.name }}" class="pizza-image">
                    {% endif %}
                    <div class="card-description">
                        <span itemprop="price" class="pizza-price">{{ pizza.price }}</span>
                        <span><strong>Цена:</strong> $ </span>

                        {% if pizza.sauce %}
                            <p><strong>Соус:</strong> {{ pizza.sauce }}</p>
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated %}
                        <a class="card-link" href="{% url 'pizza:pizza_detail' pizza.id %}">Подробнее</a>
{#                        <a class="card-link" href="{% url 'pizza:order_pizza' pizza.id %}">Заказать</a>#}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}