.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.card-list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap);
}

.card, .card-main {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 20px 20px 50px;
    transition: height var(--animation-duration), background-color var(--animation-duration);
    margin-bottom: 20px;
}

.card-main img {
    transition: clip-path var(--animation-duration) ease, transform var(--animation-duration) ease, border-radius var(--animation-duration) ease;
    width: 350px;
    height: auto;
    display: block;
    align-self: center;
    border-radius: 10%;
}

.card-main:hover img {
    /*clip-path: inset(10% 10% 10% 10%);*/
    transform: scale(1.07);
    border-radius: 50%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: var(--big-box-shadow);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.card-title {
    margin: 10px 0;
}

.card-description {
    margin: 5px 0;
}

.card-link {
    display: inline-block;
    position: absolute;
    right: auto;
    bottom: 1%;
    /*margin-top: auto;*/
    padding: 10px 15px;
    border: 1px solid var(--primary-bg-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--primary-bg-color);
}

.card-link:hover {
    background-color: var(--hover-card-bg-color);
    border-color: var(--hover-bg-color);
}

.dropdown select {
    padding: 10px; /* Padding inside the select */
    background-color: #555; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
}

/* Optional hover styles */
.dropdown select:hover {
    background-color: #444; /* Change background on hover */
}

.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--gap);
    transition: background-color var(--animation-duration);
}

.button:hover {
    background-color: var(--button-hover-bg-color);
}

.link {
    color: var(--link-color);
    text-decoration: none;
}

.link:hover {
    color: var(--link-hover-color);
}