.card-list-container {
    display: flex;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
}

.card img {
    flex: 1;
    align-self: start;
    width: 50%;
    height: auto;
    display: flex;
    animation-name: bounce;
    animation-timing-function: ease;
}

.card-description{
    display: flex;
    flex: 1;
}