/* pizzalist.css */

/* General styles for the pizza list */
.pizza-list {
    padding: 20px;
}

/* Title styles */
.pizza-title {
    text-align: center;
}

/* Form styles */
.filter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.form-group {
    display: flex;
    align-items: center;
}

.sort-select,
.sauce-search,
.filter-button {
    padding: 10px;
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius);
    font-size: 16px;
}

.filter-button {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: var(--hover-bg-color);
}
