{% extends 'base_blog.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/aboutblog.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="company-info">
            <h1 class="company-title">О компании <img src="{% static 'pizza-svgrepo-com.svg' %}" class="company-icon">
            </h1>
            <p class="company-description">Добро пожаловать в нашу пиццерию! Мы специализируемся на приготовлении
                вкуснейших пицц и итальянских блюд.</p>
        </div>
        <video controls class="company-video">
            <source src="{% static 'video.webm' %}" type="video/webm"/>
        </video>
        <section class="sertificate">

        </section>

        <h2 class="history-title">История пиццерии</h2>
        <p class="history-description">Наша пиццерия была основана в 2005 году двумя братьями-пекарями из Неаполя. С тех
            пор мы радуем наших клиентов ароматными итальянскими блюдами.</p>
        <h2 class="specialization-title">Специализация</h2>
        <p class="specialization-description">Мы гордимся нашими оригинальными рецептами и использованием только свежих
            ингредиентов. Попробуйте нашу пиццу по-неаполитански или пасту аль-денте!</p>
        <h2 class="contact-title">Реквизиты</h2>
        <p class="contact-info">Адрес: ул. Пиццерная, д. 10, г. Милан</p>
        <p class="contact-info">Телефон: +123 456 7890</p>
        <p class="contact-info">Email: info@pizzeria.com</p>
    </div>
{% endblock %}