{% extends 'base_blog.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="faq-header">Словарь терминов и понятий <img class="faq-icon" src="{% static 'pizza-svgrepo-com.svg' %}" alt="Icon"></h1>

    {% for faq in faqs %}
    <section class="faq-section">
        <details class="faq-details">
            <summary class="faq-question">{{ faq.question }}</summary>
            <p class="faq-answer">{{ faq.answer }}<br>
                <em class="faq-added">Добавлено: {{ faq.added_date }}</em>
            </p>
        </details>
    </section>
    {% endfor %}
</div>
{% endblock %}