{% extends 'base_blog.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/homeblog.css' %}">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'css/pizza.css' %}">
{% endblock %}
{% block content %}
    <div class="container" style="display: flex; flex-direction: row">
        <div class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
        </div>
        <div style="margin-left: auto; background: rgba(232, 240, 248, 1); padding: 10px; width: 300px; height: auto;">
            <div class="pizza"></div>
        </div>
    </div>
    <div class="container ">
        <div class="news-section">
            <h1 class="news-title">Последние новости:<img class="news-icon" src="{% static 'pizza-svgrepo-com.svg' %}"
                                                          alt="Pizza Icon"></h1>
            {% if latest_post %}
                <h2 class="latest-post-title">{{ latest_post.title }}</h2>
                <p class="latest-post-content">{{ latest_post.content|truncatewords:50 }}</p>
                {# <a href="{% url 'blog:post_detail' latest_post.pk %}">Читать далее</a> #}
            {% else %}
                <h3 class="no-news">Новостей нет.</h3>
            {% endif %}
        </div>
        <div class="promo">
            <h3 class="promo-title">ПРОМО:</h3>
            <img class="promo-image" src="{% static random_image %}" alt="Random Image">
        </div>
        <div class="partners">
            <h4>Мы сотрудничаем:</h4>
            {% for logo in logo_companies %}
                <img class="partner-logo" src="{{ logo.image.url }}" alt="Company Logo">
            {% endfor %}
        </div>
    </div>
{% endblock %}