{% extends 'base_blog.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="news-header">Новости <img class="news-icon" src="{% static 'pizza-svgrepo-com.svg' %}"
                                             alt="Pizza Icon"></h1>
        <div class="card-container">
            {% for post in posts %}
                <div class="card">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-description">{{ post.content }}</p>
                    <a class="card-link" href="{% url 'blog:news_post' post.id %}">Читать далее</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}