{% extends 'base_blog.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ post.title }}<img src="{% static 'pizza-svgrepo-com.svg' %}"></h1>

        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
        {% endif %}
        <div class="article-content">
            {{ post.content|safe }}
        </div>
    </div>
{% endblock %}