{% extends 'base_blog.html' %}

{% block content %}
    <div>
        <h1>Промокоды</h1>
        <ul>
            {% for promo in promos %}
                {% if promo.is_active %}
                    <li>
                        <div>
                            <h4>Код {{ promo.code }} - скидка {{ promo.discount }}%</h4>
                        </div>
                    </li>

                {% endif %}
            {% endfor %}
        </ul>
        <h4>Неактивные промокоды:</h4>
        <ul>
            {% for promo in promos %}

                {% if not promo.is_active %}
                    <li>
                        <div>
                            <h4>Код {{ promo.code }} - скидка {{ promo.discount }}%</h4>
                        </div>
                    </li>

                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}