{% extends 'base_blog.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h1>Отзывы <img src="{% static 'pizza-svgrepo-com.svg' %}"></h1>
        {% if user.is_authenticated %}
            <h2>Оставить отзыв</h2>
            <form method="post" action="{% url 'blog:submit_review' %}">
                {% csrf_token %}
                <label for="title">Заголовок:</label><br>
                <input type="text" id="title" name="title" required><br>
                <label for="content">Содержание:</label><br>
                <textarea id="content" name="content" required></textarea><br>
                <button type="submit">Отправить</button>
            </form>
        {% else %}
            <p>Пожалуйста <a href="{% url 'registration:login' %}">залогиньтесь</a> чтобы оставить отзыв.</p>
        {% endif %}

        <div class="card-list-container">
            {% for review in reviews %}
                <div class="card">
                    <h4 class="card-title">{{ review.title }} от {{ review.user_name }}</h4>
                    <p class="card-description">{{ review.content|truncatewords:20 }}</p>
                    <time datetime="{{ review.added_date }}">{{ review.added_date }}</time>
                    {#        <a href="{% url 'blog:post_detail' post.pk %}">Читать далее</a>#}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}