{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzeriaNapoli</title>
    <link rel="icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    {% include 'meta.html' %}
</head>
<body>

{% block top_navbar %}

    <nav>
        <div>

            <a href="{% url 'pizza:pizza_list' %}">PizzeriaNapoli</a>

            <div id="navbarSupportedContent">

                <ul>
                    {% if request.user.is_staff %}
                        <li>
                            <a href="{% url 'pizza:order_list' %}">Заказы</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'registration:user_profile' %}">Welcome {{ request.user }}</a>
                        </li>
                        <li>
                            <a href="{% url 'pizza:view_cart' %}">Корзина</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'registration:login' %}">Login/register</a>
                        </li>
                        <li>
                            <a href="{% url 'registration:login' %}">Корзина</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'blog:home' %}">Домашняя</a>
                    </li>
                    {% block navbar %}
                    {% endblock navbar %}
                </ul>

            </div>
        </div>
    </nav>

{% endblock top_navbar %}
<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <div>
        <p><b>&copy; 2024 PizzeriaNapoli</b></p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>