{% load static %}
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">


<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description"
      content="Delicious pizzas, pastas, and more at PizzeriaNapoli. Order online for delivery or pickup!">
<meta name="keywords" content="pizza, pasta, Italian cuisine, delivery, pickup, PizzeriaNapoli">
<meta property="og:title" content="PizzeriaNapoli - Best Pizza in Town">
<meta property="og:description"
      content="Delicious pizzas, pastas, and more at PizzeriaNapoli. Order online for delivery or pickup!">
<meta property="og:image" content="{% static 'meta_image.png' %}">
<meta property="og:url" content="https://pizzerianapoli.com">
<meta property="og:type" content="website">
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="pizzerianapoli.com">
<meta name="twitter:url" content="https://pizzerianapoli.com">
<meta name="twitter:title" content="PizzeriaNapoli - Best Pizza in Town">
<meta name="twitter:description"
      content="Delicious pizzas, pastas, and more at PizzeriaNapoli. Order online for delivery or pickup!">
<meta name="twitter:image" content="{% static 'meta_image.png' %}">